<!--NAVBAR-->
<div class="navbar-container">
  <nav ngbNav #nav="ngbNav" class="navbar navbar-expand-lg navbar-dark" [activeId]="route.fragment | async">
    <div class="container">

      <div *ngFor="let link of links; let i = index">
        <div *ngIf="i < links.length">
          <!-- HOME -->
          <a ngbNavItem class="ml-3 fade-page" *ngIf="link.fragment == 'accueil'" ngbNavLink
            [routerLink]="'accueil'"><img alt="Bounce Events" [src]="cheminImage" /></a>


            <!-- Collapsable-->

          <!-- CONNEXION/INSCRIPTION -->
          <div class="justify-content-right">
          <div ngbNavItem>
            <a ngbNavItem *ngIf="link.fragment == 'connection'" ngbNavLink
              [routerLink]="'connection'">{{ link.title }}</a>
          </div>
          <div ngbNavItem class="nav-item">
            <a ngbNavItem *ngIf="link.fragment == 'inscription'" ngbNavLink
              [routerLink]="'inscription'">{{ link.title }}</a>
          </div>
          <!-- PROFIL -->
          
          <div ngbNavItem class="nav-item">
            <a ngbNavItem *ngIf="link.fragment == 'profil/:idUtilisateur'" ngbNavLink
              [routerLink]="link.fragment"  (click)="onClickProfile()"> <fa-icon class="userIcon" [icon]="faUserCircle"  [class.active]="isActive"></fa-icon></a>
          </div>
        </div>

        </div>
      </div>


      <!-- Fin Container-->
    </div>
    <div [ngbNavOutlet]="nav"></div>
  </nav>
  <!-- Fin Container Nav Bar-->
</div>